<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browser Page title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>


    <script src="~/Scripts/graph.js"></script>
    <script src="~/Scripts/_Layout.js"></script>
    <link rel="shortcut icon" href="~/Images/blog_icon.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="">
    <header>
        <text align="left"><h1>Ha-blog Shel Shauli</h1></text>
        <div style="height: 50px">
            @Html.Partial("_LoginPartial")
        </div>
        <audio autoplay>
            <source src="~/audio/blog intro.mp3" type="audio/mpeg">
        </audio>
    </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("Blog", "Blog", "Blog")</li>
            <li>@Html.ActionLink("Fan Club", "Index", "Fans")</li>
            <li>
                <div id="transDemo2">
                    <div class="hover">
                        <img src="~/Images/rss.png" width="30" height="30">
                    </div>
                </div>
            </li>
            <li class="subscribe"><a href="#">Subscribe via. RSS</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li>@Html.ActionLink("Statistics", "Index", "Statistics")</li>
            }
            </ul>
    </nav>
    <section id="intro">
        <header>
            <h2>Do you have questions for me?</h2>
        </header>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
        </p>
        <img src="/images/intro_shauli.png" alt="Shauli" />
    </section>
    <div id="content">
        @RenderBody()
        <aside>
            <section>
                <header>
                    <h3>Weather!</h3>
                </header>
                @RenderPage("~/Views/Shared/WeatherWidget.cshtml")
            </section>
            <section style="display:none">
                <header>
                    <h3>Charts!</h3>
                </header>
                @RenderPage("~/Views/Shared/StatisticsWidget.cshtml")
            </section>
            <section>
                <header>
                    <h3>I send you all a big smile</h3>
                </header>
                <canvas id="ShauliCanvas" width="150" height="150" style="border:1px solid #d3d3d3;"></canvas>
            </section>
            <section>
                <header>
                    <h3>More Comedy!</h3>
                </header>
                @RenderPage("~/Views/Shared/TwitterWidget.cshtml")
            </section>
        </aside>
    </div>
    <footer>
        <h3 align="center"><b>About</b></h3>
        <div>
            <section id="about">
                All rights reserved to Lior Rahamim, Ofek Aziel, Idan Ahal and Guy Shany. Copyright © 2019.

                Showing usages in multiple columns css3 property.Showing usages in multiple columns css3 property.
                Showing usages in multiple columns css3 property.Showing usages in multiple columns css3 property.
                Showing usages in multiple columns css3 property.Showing usages in multiple columns css3 property.
                Showing usages in multiple columns css3 property.Showing usages in multiple columns css3 property.
                Showing usages in multiple columns css3 property.Showing usages in multiple columns css3 property.
                Showing usages in multiple columns css3 property.Showing usages in multiple columns css3 property.
                Showing usages in multiple columns css3 property.Showing usages in multiple columns css3 property.
            </section>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
