@model IEnumerable<ShauliBlog.Models.Post>
@{
    ViewBag.Title = "Blog";
}
<body>
    <div id="content">
        <div id="mainContent">
            @foreach (var item in Model)
            {
                <section>
                    <article class="blogPost">
                        <header>
                            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                            <h3>Posted on @Html.DisplayFor(modelItem => item.PublishDate) </h3>
                            <h3>Posted by @Html.DisplayFor(modelItem => item.Author)</h3>
                        </header>
                        <div>
                            <p>@Html.DisplayFor(modelItem => item.Content)</p>

                            <section>

                                @if (!(item.Image.IsEmpty()))
                                {
                                    <p>
                                        <img class="alignright wp-image-102447 size-full" src="@Html.DisplayTextFor(modelItem => item.Image)" alt="" width="200" height="200" />
                                    </p>
                                }


                                @if (!(item.Video.IsEmpty()))
                                {
                                    <p>
                                        <iframe src="@Url.Content(item.Video)" width="250" height="200"></iframe>
                                    </p>
                                }

                            </section>

                        </div>
                    </article>
                </section>
            }
        </div>
    </div>
</body>