@model IEnumerable<ShauliBlog.Models.Post>
@{
    ViewBag.Title = "Blog";
}
<body>

    <input  class="btn btn-warning" type="button" value="show highest commented posts" onclick="location.href='@Url.Action("TopPost", "Blog")'" />

    @using (Html.BeginForm())
    {
        <div class="col-md-6">
            <h4>Filter posts:</h4>
            Author: @Html.TextBox("authorField", "", new { placeholder = "Author", @class = "form-control col-md-2" })<br />
            Blog Title: @Html.TextBox("blogTitleField", "", new { placeholder = "Blog Title", @class = "form-control col-md-2" })<br />
            Posts With Comments Published By: @Html.TextBox("commentsAuthorField", "", new { placeholder = "Comments Author", @class = "form-control col-md-2" })<br />
            <input class="btn btn-primary" type="submit" value="search">
        </div>
    }
    <div id="content">
        <div id="mainContent">
            @foreach (var post in Model)
            {
                <section>
                    <article class="blogPost">
                        <header>
                            <h2>@Html.DisplayFor(modelItem => post.Title)</h2>
                            <h4>Posted by @Html.DisplayFor(modelItem => post.Author) on @Html.DisplayFor(modelItem => post.PublishDate)</h4>
                            <p>@Html.DisplayFor(modelItem => post.Comments.Count) comments</p>
                        </header>
                        <div>
                            <p>@Html.DisplayFor(modelItem => post.Content)</p>

                            <section>

                                @if (!(post.Image.IsEmpty()))
                                {
                                    <p>
                                        <img class="alignright wp-image-102447 size-full" src="@Html.DisplayTextFor(modelItem => post.Image)" alt="" width="200" height="200" />
                                    </p>
                                }


                                @if (!(post.Video.IsEmpty()))
                                {
                                    <p>
                                        <iframe width="250" height="200" frameborder="0" src="@Url.Content(post.Video)"></iframe>
                                    </p>
                                }

                            </section>

                        </div>
                    </article>
                </section>

                <section id="comments">
                    @if (post.Comments.Count != 0)
                    {
                        <h3>Comments:</h3>
                        foreach (var comment in post.Comments)
                        {
                            <!--Shows the comments related to this post.-->
                            <article>
                                <header>
                                    <h4>Title: @Html.DisplayFor(modelItem => comment.Title)</h4>
                                    Posted by: <a href="@Url.Content(comment.AuthorSite)">@Html.DisplayFor(modelItem => comment.Author)</a>
                                </header>
                                <p>@Html.DisplayFor(modelItem => comment.Content)</p>
                            </article>
                        }
                    }
                </section>

                @Html.Partial("CreateComment", new ShauliBlog.Models.Comment { PostId = post.Id })

            }

            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Manage Posts", "Index", "Posts")
            }
        </div>
    </div>
</body>