@model IEnumerable<ShauliBlog.Models.Post>
@{
    ViewBag.Title = "Blog";
}
<body>
    <form id="search">
        <div id="filters" class="row">
            <h4>Filter posts:</h4>
            <div id="date" class="col-md-4">
                From <input id="start-date-field" class="form-control" type="date" />
            </div>
            <div id="publisher" class="col-md-4">
                Publisher <input id="publisher-field" type="text" class="form-control" placeholder="Enter publisher name" />
            </div>
            <div id="blog-title" class="col-md-4">
                Blog Title <input id="blog-title-field" type="text" class="form-control" placeholder="Enter blog title" />
            </div>
        </div>
        <div id="search-btn" class="row">
            <div class="col-md-4">
                <input class="btn btn-primary" type="submit" onclick="filterPosts()" value="search">
            </div>
        </div>
    </form>
    <div id="content">
        <div id="mainContent">
            @foreach (var post in Model)
            {
                <section>
                    <article class="blogPost">
                        <header>
                            <h2>@Html.DisplayFor(modelItem => post.Title)</h2>
                            <h4>Posted by @Html.DisplayFor(modelItem => post.Author) on @Html.DisplayFor(modelItem => post.PublishDate)</h4>
                            <p>@Html.DisplayFor(modelItem => post.Comments.Count) comments</p>
                        </header>
                        <div>
                            <p>@Html.DisplayFor(modelItem => post.Content)</p>

                            <section>

                                @if (!(post.Image.IsEmpty()))
                                {
                                    <p>
                                        <img class="alignright wp-image-102447 size-full" src="@Html.DisplayTextFor(modelItem => post.Image)" alt="" width="200" height="200" />
                                    </p>
                                }


                                @if (!(post.Video.IsEmpty()))
                                {
                                    <p>
                                        <iframe width="250" height="200" frameborder="0" src="@Url.Content(post.Video)"></iframe>
                                    </p>
                                }

                            </section>

                        </div>
                    </article>
                </section>

                <section id="comments">
                    @if (post.Comments.Count != 0)
                    {
                        <h3>Comments:</h3>
                        foreach (var comment in post.Comments)
                        {
                            <!--Shows the comments related to this post.-->
                            <article>
                                <header>
                                    <h4>Title: @Html.DisplayFor(modelItem => comment.Title)</h4>
                                    Posted by: <a href="@Url.Content(comment.AuthorSite)">@Html.DisplayFor(modelItem => comment.Author)</a>
                                </header>
                                <p>@Html.DisplayFor(modelItem => comment.Content)</p>
                            </article>
                        }
                    }
                </section>

                @Html.Partial("CreateComment", new ShauliBlog.Models.Comment { PostId = post.Id })

            }

            @Html.ActionLink("Manage Posts", "Index", "Posts")
        </div>

    </div>
</body>